// Colors
$global-cream: rgba(234, 235, 227, 1);
$global-pearl-aqua: rgba(122, 206, 195, 1);
$global-rifle-green: rgba(57, 61, 60, 1);
$global-platinum: rgba(233, 234, 226, 1);
$global-white: rgba(255, 255, 255, 1);
$global-meat-brown: rgba(235, 178, 64, 1);
$global-pastel-orange: rgba(248, 194, 85, 1);
$global-gray: rgba(153, 153, 153, 1);
$global-taupe: rgba(51, 51, 51, 1);
$global-red: rgba(255, 0, 0, 1);
$global-atomic-tangerine: rgba(255, 155, 109, 1);
$global-inter-orange: rgba(253, 80, 0, 1);
$global-tea-green: rgba(212, 237, 191, 1);
$global-dim-gray: rgba(106, 105, 105, 1);
$global-dark-jungle-green: rgba(25, 25, 25, 1);
// Size
$global-view-port: 1400px;