    @import "partials/params-g";
    @import "partials/mixins";
    .header {
        height: 50px;
        background: linear-gradient(to left, lighten($global-pastel-orange, 8%), #F8A830);
        &__content {
            height: inherit;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & h2 {
                color: $global-dark-violet;
            }
        }
    }