@import "partials/params-g";
@import "partials/mixins";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
body {
    @include clear;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    @include clear;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #fc4a1a, #f7b733);
    overflow: hidden;
}

.view-port {
    max-width: $global-view-port;
    margin: 0 auto;
}

.hintContent {
    padding: 10px;
    & span {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: $global-atomic-tangerine;
    }
}

.balloonContent {
    & p {
        font-family: 'Montserrat Alternates', sans-serif;
        color: $global-taupe;
    }
    & p:first-child {
        font-weight: 700;
        font-size: 14px;
        color: $global-atomic-tangerine;
    }
}